<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Zombie.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.CovertCreations.Zombies</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>txt.icns</string>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>svg</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>document.icns</string>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>image/svg+xml</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>SVG document</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>NSDocumentClass</key>
				<string>BrowserDocument</string>
			</dict>
	</array>
	<key>CFBundleSignature</key>
	<string>BILL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.6.0</string>
	</dict>
	<key>NSMainNibFile</key>
	<string>SDLMain</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
